@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

body{
  margin: 0;
  background-color: #181818;
  color: #fff;
  font-family: "Roboto", sans-serif;


  
}

@tailwind base;
@tailwind components;
@tailwind utilities;